/* Layout */

.page-content > .mdl-grid,
.mdl-mega-footer > .mdl-grid,
.mdl-layout__header-row {
  max-width: 1200px;
}

/* Header */

.mdl-layout__header-row {
  padding-left: 40px;
  margin: auto;
}

.mdl-layout-title {
  margin-right: auto;
  margin-left: auto;
}

.search {
  width: 150px;
  margin-right: 35px;
}

/* Banner and product card */

.mdl-card {
  height: 350px;
  width: 100%;
}

.mdl-card__title {
  color: #fff;
  background-size: cover;
  background-position: 50% 50%;
}

.mdl-card__title.banner {
  background-image: url('assets/banner-1.jpg');
}

.mdl-card__title.banner h1 {
  margin: auto;
  text-align: center;
}

.mdl-card__title-text,
.mdl-card__title.banner h1 {
  background-color: rgba(0, 0, 0, .5);
  padding-left: 10px;
  padding-right: 10px;
}

/* Brand logo */

.brand-logo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(0, 0, 0, .1);
}

.brand-logo img {
  position: relative;
  width: 75px;
  height: 75px;
  margin-left: -37.5px;
  left: 50%;
  opacity: .2;
}

.brand-logo img:hover {
  opacity: .4;
}

/* Footer */

.mdl-mega-footer {
  margin-top: 50px;
}

.mdl-mega-footer__heading.brand {
  font-size: 22px;
  position: relative;
  top: 25px;
}

.payment-image {
  width: 50px;
  opacity: .4;
  position: relative;
  top: 15px;
}

.newsletter {
  width: 80%;
}

.newsletter .mdl-textfield__input,
.newsletter .mdl-textfield__label {
  color: white;
  border-color: whitesmoke;
}

/* List control */

.list-control-page-settings {
  text-align: center;
}

.list-control-page-navigation {
  text-align: right;
}

/* Item content */

.product-banner {
  margin-top: 40px;
  margin-bottom: 30px;
}

.product-features li p {
  margin-bottom: 5px;
}

.product-thumb {
  text-align: center;
}

.product-thumb button {
  position: relative;
  top: 50%;
  margin-top: -20px;
}

.product-thumb img {
  width: 100%;
}

/* Item options */

.product-options {
  padding-left: 0px;
  padding-right: 0px;
}

.product-option:first-child {
  margin-left: 0px;
}

.product-option:last-child {
  margin-right: 0px;
}

.product-option .mdl-textfield {
  padding-top: 0px;
}

.product-option .mdl-textfield .mdl-textfield__label {
  top: 0px;
}

.product-option .mdl-button {
  margin-right: 20px;
}

/* Cart */

.product-image {
  width: 90px;
}

.mobile-cart-table {
  width: 100%;
  white-space: normal;
}

.mobile-cart-table .quantity-input,
.mobile-cart-table .quantity-input input {
  width: 20px;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 0;
}

.mobile-cart-table .delete-product {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.mobile-cart-table .dark-row {
  background-color: #eee;
}

.checkout-button {
  width: 100%;
  margin-top: 30px;
}
